* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: sans-serif;

}



body {

  width: 100%;

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background-color: #ffe5e5;

}



.container {

  display: flex;

  flex-direction: column;

  text-align: center;

  align-items: center;

  gap: 20px;

  max-width: 90%; /* Cambiado a porcentaje para adaptarse a dispositivos móviles */

  margin: 20px auto; /* Añadido auto para centrar el contenedor */

}



.container .tenor-gif-embed {

  max-width: 100%; /* Cambiado a porcentaje para adaptarse a dispositivos móviles */

}



.container .btn {

  display: flex;

  flex-direction: column; /* Cambiado a columna para dispositivos móviles */

  gap: 15px; /* Reducido el espacio entre botones para dispositivos móviles */

  align-items: center; /* Alineación centrada para dispositivos móviles */

}



.btn a {

  text-decoration: none;

  color: #111;

  background: #fff;

  padding: 10px 20px; /* Ajuste de padding para dispositivos móviles */

  border-radius: 8px;

  box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.3); /* Cambiado hsl a rgba para compatibilidad */

}
